html {font-size: 1vh;}

body {
    height: 100vh;
    width: 100vw;
    font-family: 'Kdam Thmor Pro', sans-serif;
    margin: 0;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    background-color: rgb(158, 177, 177);
}

header {
   height: 15%;
   display: flex;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
}

h1 {
    font-size: 6rem;
}

h3 {
font-size: 4rem;
}

.roundCounter {
    height: 10%;
    display: flex;
    justify-content: center;
}

.playerCont {
   display: flex;
    height: 15%;
    justify-content: center;
    align-items: center;
    gap: 10%;
    text-align: right;
    
}

.playerCont h2 {
    font-size: 6rem;
    min-width: 15%
}

.score {
    font-size: 10rem;
}

.roundResult {
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
   height: 17%;
   width: 100%;
    display: flex;
    justify-content: center;
    gap: 5%;
    
}

button {
    width: 12%;
    background-size: auto 80%;
    background-repeat: no-repeat;
    background-position: center;
    background-color: aliceblue;
    border: none;
    border-radius: 5%; 
}

button:hover {
    transform: translate(10px, -10px);
    box-shadow: -10px 10px;
}

#rock {
    background-image: url(assets/rock.svg);
}

#paper {
    background-image: url(assets/paper.svg);
}

#scissors {
    background-image: url(assets/scissors.svg);
}

.disclaimer {
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer {
    font-size: 3rem;
    height: 10%;
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
}

